footer
  .footer-logo
    img(src='/img/logo.svg', alt='')
  nav.footer-nav
    a(href='#') About
    a(href='#') Contact
    a(href='#') Terms
    a(href='#') Privacy
    a(href='#') Blog

  p.copyright Copyright © 2016 SlashPixels. All screenshots © their respective ownres.
