doctype html

html(lang='en')
  head
    meta(charset='UTF-8')
    title Slashpixels
    link(rel='stylesheet', href='/css/style.css')

  body
    #root
      block content
        | !{html}

    script
      | window.__PRELOADED_STATE__ = !{state}

    script(src='/js/bundle.js')
