doctype html

html(lang='en')
  head
    meta(charset='UTF-8')
    title Slashpixels
    link(rel='stylesheet', href='css/style.css')

  body#app
      block content
        | !{html}

  script(src='/js/main.js')
