doctype html

html(lang='en')
  head
    meta(charset='UTF-8')
    title Slashpixels
    link(rel='stylesheet', href='/css/style.css')

  body
    #root
      //- Strange wrapper to avoid errors on server rendering
      //- TODO: fix it! (double page rendering on the client)
      section.content-wrapper(role=main)
        block content
          | !{html}

    script
      | window.__PRELOADED_STATE__ = !{state}

    script(src='/js/bundle.js')
