doctype html

html(lang='en')
  head
    meta(charset='UTF-8')
    title Slashpixels
    link(rel='stylesheet', href='css/style.css')

  body
    .content-wrapper
      include header

      block content

      include footer
